---
op: K8sHostSetup
platform: {{ common.platform }}
parameters:
  host:
    host_ip: {{ k8shost_ip }}
  yum_update: {{ os.value}}
  ssh:
    password: {{ credentials.ssh.password }}
    username: {{ credentials.ssh.username }}
---
op: K8sHostConfig
platform: {{ common.platform }}
parameters:
  config:
    tags:
    - name: {{ tagname }}
      value: {{ tagvalue }}
    ephemeral_disks: {{ k8shosts.ephemeral_disks }}
    persistent_disks: {{ persistent_disks }}
  host:
    internal_ip: {{ k8shost_ip }}
