{
    "platform": {
        "is_secure_container_repo": false,
        "container_repo_url": "{{airgap.registry_server}}",
        "container_repo_username": "",
        "container_repo_client_certificate": ""
    },
    "caas_registry": {
        "caas_is_secure_container_repo": false,
        "caas_container_repo_url": "{{airgap.registry_server}}",
        "caas_container_repo_username": "",
        "caas_container_repo_client_certificate": ""
    }
}

